node_modules
npm-debug.log
dist
.env
.env.local
.env.*.local
.git
.gitignore
.DS_Store
.vscode
.idea
*.log
coverage
test
.eslintrc.js
jest.config.js
tsconfig.build.json
.prettierrc
README.md
